body {
	background-color: #282c34;
	color: white;
	font-family: 'Lucida Console', 'Courier New', monospace;
}
.App {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.notes {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	// &:before {
	// 	content: '';
	// 	height: 230px;
	// 	width: 30px;
	// 	background-color: #9c5e0c;
	// 	margin-right: 5px;
	// 	border-radius: 5px;
	// 	border: 3px outset rgb(86, 91, 116);
	// }

	// &:after {
	// 	content: '';
	// 	height: 80px;
	// 	width: 30px;
	// 	background-color: rgb(122, 94, 58);
	// 	margin-left: 5px;
	// 	border-radius: 5px;
	// 	border: 3px outset rgb(86, 91, 116);
	// }
}
.note {
	width: 40px;
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 5px;
	border: 3px outset rgb(129, 127, 127);
	transition: 0.3s;

	&:not(:last-child) {
		margin-right: 5px;
	}

	&:before,
	&:after {
		content: '...';
		font-size: 10px;
		border-radius: 50%;
		background-color: white;
		border: 1px inset rgb(129, 128, 128);
	}

	&:hover {
		opacity: 0.7;
		border: inset;
	}
}

textarea {
	margin: 20px auto;
	min-height: 100px;
	min-width: 300px;
	color: rgb(199, 194, 194);
	background-color: #282c34;
	font-size: 1.2rem;
	border: 3px outset rgb(86, 91, 116);
	outline: none;
}

.btn {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: 3px outset rgb(192, 190, 190);
	// background-color: rgb(129, 127, 127);

	&:not(:last-child) {
		margin-right: 5px;
	}
}
